<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>proj-html-vuejs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <button id="to_top" @click="toTop()">
        <i class="fas fa-chevron-up"></i>
        <span>top</span>
      </button>

      <header>
        <!-- logo 1 nav -->
        <img :src="header.logoImg" alt="">
        <nav id="header_nav">
          <ul>
            <li v-for="link in header.links">{{link}}</li>
          </ul>
          <div id="header_nav_icons">
            <i v-for="icon in header.icons" :class="icon"></i>
          </div>
        </nav>
      </header>


      <transition-group name="slide" tag="ul" id="jumbotron" >
        <!-- <div class="screen">

        </div> -->
        <li class="slide" v-for="slide in jumbotron" v-bind:key="slide.id" v-if="slide.visible" @mouseleave="carouselJumbotron()" @mouseenter="stopCarouselJumbotron()">
          <img class="slide_img" :src="slide.img" alt="">
          <div class="slide_wrap">
            <h2>{{slide.title}}</h2>
            <p>{{slide.text}}</p>
            <button v-if="slide.button">{{slide.buttonText}}</button>
          </div>
          <div class="slider_dots">
            <i class="far fa-dot-circle" v-for="(slide, i) in jumbotron" v-if="slide.visible"></i>
            <i class="fas fa-circle" v-else @click="goTo(i, jumbotron)"></i>
          </div>
        </li>
      </transition-group>


      <main>


        <section id="topics">
          <!-- carosello? card topic -->
          <div class="topic_card" v-for="topic in topics">
            <img :src="topic.img" alt="">
            <span>{{topic.text}}</span>
          </div>
        </section>



        <section id="trusted">
          <!-- sezione trusted name - semplice - animazioni? -->
          <div class="trusted_box" v-for="el in trusted">
            <div class="trusted_wrap">
              <h2 class="trusted_title">{{el.title}}</h2>
              <p class="trusted_text">{{el.text}}</p>
              <a href="" class="trusted_button" v-if="el.link" >{{el.linkText}}</a>
            </div>
            <img class="trusted_img":src="el.img" alt="">
          </div>
        </section>



        <section id="empowering">
          <!-- sezione empowering.... - semplice - animazioni = numeri -->
          <div class="empowering_box" v-for="el in empowering">
            <img class="empowering_img" :src="el.img" alt="">
            <div class="empowering_content">
              <h2>{{el.title}}</h2>
              <p>{{el.text}}</p>
              <div class="statistics_wrap">
                <div class="statistic" v-for="statistic in el.statistics">
                  <span>{{statistic.value}}</span>
                  <span>{{statistic.label}}</span>
                </div>
              </div>
            </div>
          </div>
        </section>



        <div id="feedback" @mouseover="stopCarouselFeedback()" @mouseleave="carouselFeedback()">
          <!-- sezione feedback - semplice - animazioni = slider -->
          <img :src="feedback.img" alt="">
          <transition-group name="slide" tag="ul" >
            <li class="feedback_slide" :key="feedback.id"v-for="feedback in feedback.feedbacks" v-if="feedback.visible">
              <img class="feedback_img" :src="feedback.img" alt="">
              <p class="feedback_text">{{feedback.text}}</p>
              <span class="feedback_name">{{feedback.name}}</span>
              <span class="feedback_job">{{feedback.job}}</span>
            </li>
          </transition-group >
          <div class="slider_dots_feedback">
            <i class="far fa-dot-circle" v-for="(feedbackDot,i) in feedback.feedbacks" v-if="feedbackDot.visible"></i>
            <i class="fas fa-circle" v-else @click="goTo(i, feedback.feedbacks)"></i>
          </div>
        </div >



        <section id="learning">
          <!-- sezione learning - media - struttura menu laterale - animazioni = transition -->
          <div id="learning_wrap">
            <nav id="learning_nav">
              <ul>
                <li v-for="(el, i ) in learning" @click="selectLearning(i)" :class="`${el.visible}_learning`">{{el.buttonName}} </li>
              </ul>
            </nav>
            <div class="learning_content" v-for="el in learning" v-if="el.visible">
              <h2>{{el.title}}</h2>
              <p>{{el.text}}</p>
              <ul v-if="el.tips">
                <li v-for="tip in el.tipsItem" ><i class="fas fa-check"></i>{{tip}}</li>
              </ul>
              <img class="learning_img" :src="el.img" alt="">
            </div>
          </div>
        </section>



        <section id="courses"  @mouseleave="carouselCourse()" @mouseenter="stopCarouselCourse()">
          <div class="title_wrap">
            <h2>Popular Online Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint a, beatae aut ipsam praesentium id quo temporibus qui rem. Officiis molestias omnis sapiente accusamus iure, quidem mollitia quasi! Vitae eligendi accusamus, nostrum ad minima hic.</p>
          </div>
          <!-- sezione popular - medio/alta - struttura card/carosello - animazioni = transition -->
          <transition-group name="slide_course" tag="ul" class="course_card_wrap">
            <li class="course_card" :key="course.id" v-for="course in courses" v-if="course.visible">
              <img :src="course.img" alt="">
              <div class="course_card_content">
                <div class="course_wrap">
                  <h3>{{course.title}}</h3>
                  <div class="course_badge" :class="`badge_${course.badge.color}`">{{course.badge.text}}</div>
                </div>
                <span class="teacher">{{course.teacher}}</span>
                <p>{{course.text}}</p>
                <span class="card_footer">
                  <i class="fas fa-user"> {{course.partecipants}}</i>
                  <i class="fas fa-tag"> {{course.category}}</i>
                </span>
              </div>
            </li>
          </transition-group>
          <!-- CREARE PALLINI INDICE -->
        </section>


        <section id="price">
          <div class="title_wrap">

            <h2>Pricing Plans</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dicta id omnis praesentium perferendis ullam nulla dolores fugiat in consectetur eos, quo sapiente alias minus?</p>
          </div>
          <!-- sezione pricing - media - struttura griglia - animazioni = active -->
          <div class="column_vrap">
            <div class="index_column">
              <span v-for="el in pricing.index">{{el}}</span>
            </div>
            <div class="price_column" v-for="price in pricing.prices">
              <div class="price_wrap">
                <img :src="price.img" alt="">
                <h3>{{price.type}}</h3>
                <span>{{price.price}}</span>
              </div>
              <span>{{price.courses}}</span>
              <span>{{price.days}}</span>
              <i class="fas fa-check" v-for="service in price.services" v-if="service"></i>
              <i class="fas fa-times" v-else></i>
              <span class="price_button_span"><button class="price_button">Get it now</button></span>
            </div>
            <div class="button_aside_wrap">
              <div id="cart"><i class="fas fa-shopping-cart"></i></div>
              <div id="price_side"><i class="fas fa-chart-pie"></i></div>
            </div>
          </div>
        </section>


        <section id="partners">
          <!-- sezione partner - facile - animazioni? -->
          <div id="partners_wrap">

            <img v-for="partner in partners" :src="partner" alt="">
          </div>
        </section>


      </main>


      <footer>
        <!-- 4 colonne con mappa + pedice -->
        <div id="footer_wrap">


          <div class="footer_column">
            <img :src="footer.contacts.img" alt="">
            <p>{{footer.contacts.text}}</p>
            <span>
              {{footer.contacts.phone}}
            </span>
            <span>
              {{footer.contacts.opening}}
            </span>
          </div>

          <div class="footer_column">
            <h3>{{footer.popularCourses.title}}</h3>
            <ul>
              <li v-for="course in footer.popularCourses.courses">
                <span>{{course.course}}</span><br>
                <span>{{course.teacher}}</span>
              </li>
            </ul>
          </div>

          <div class="footer_column">
            <h3>{{footer.supports.title}}</h3>
            <ul>
              <li v-for="link in footer.supports.links">{{link}}</li>
            </ul>
          </div>

          <div class="footer_column">
            <h3>{{footer.flexible.title}}</h3>
            <img :src="footer.flexible.img" alt="">
          </div>


        </div>
        <hr>
        <div id="footer_bottom_box">
          <span>
            Copyright 2017 ©Mikado Themes
          </span>
          <span>
            CALL +44 300 303 0266 <a href="">Follow us</a>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
          </span>
        </div>
      </footer>


    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>

</html>
