<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>proj-html-vuejs</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div id="app">
    <div class="container">


      <header>
        <!-- logo 1 nav -->
        <img :src="header.logoImg" alt="">
        <nav id="header_nav">
          <ul>
            <li v-for="link in header.links">{{link}}</li>
          </ul>
          <div id="header_nav_icons">
            <i v-for="icon in header.icons" :class="icon"></i>
          </div>
        </nav>
      </header>


      <div id="jumbotron">
        <!-- slider   -->
        <div class="slide" v-for="slide in jumbotron" v-if="slide.visible">
          <img :src="slide.img" alt="">
          <div class="slide_wrap">
            <h2>{{slide.title}}</h2>
            <p>{{slide.text}}</p>
            <button v-if="slide.button">{{slide.buttonText}}</button>
          </div>
          <div class="slider_dots">
            <i class="far fa-dot-circle" v-for="slide in jumbotron" v-if="slide.visible"></i>
            <i class="fas fa-circle" v-else></i>
          </div>
        </div>
      </div>
      <main>





        <section id="topics">
          <!-- carosello? card topic -->
          <div class="topic_card" v-for="topic in topics">
            <img :src="topic.img" alt="">
            <span>{{topic.text}}</span>
          </div>
        </section>



        <section id="trusted">
          <!-- sezione trusted name - semplice - animazioni? -->
          <div class="trusted_box" v-for="el in trusted">
            <h2>{{el.title}}</h2>
            <p>{{el.text}}</p>
            <a href="" v-if="el.link">{{el.linkText}}</a>
            <img :src="el.img" alt="">
          </div>
        </section>



        <section id="empowering">
          <!-- sezione empowering.... - semplice - animazioni = numeri -->
          <div class="empowering_box" v-for="el in empowering">
            <img class="empowering_img" :src="el.img" alt="">
            <div class="empowering_content">
              <h2>{{el.title}}</h2>
              <p>{{el.text}}</p>
              <div class="statistics_wrap">
                <div class="statistic" v-for="statistic in el.statistics">
                  <span>{{statistic.value}}</span>
                  <span>{{statistic.label}}</span>
                </div>
              </div>
            </div>
          </div>
        </section>



        <section id="feedback">
          <!-- sezione feedback - semplice - animazioni = slider -->
          <img :src="feedback.img" alt="">
          <div class="feedback_slide" v-for="feedback in feedback.feedbacks" v-if="feedback.visible">
            <img class="feedback_img" :src="feedback.img" alt="">
            <p>{{feedback.text}}</p>
            <span class="feedback_name">{{feedback.name}}</span>
            <span class="feedback_job">{{feedback.job}}</span>
          </div>
          <div class="slider_dots_feedback">
            <i class="far fa-dot-circle" v-for="feedback in feedback.feedbacks"  v-if="feedback.visible"></i>
            <i class="fas fa-circle" v-else></i>
          </div>
        </section>



        <section id="learning">
          <!-- sezione learning - media - struttura menu laterale - animazioni = transition -->
          <nav id="learning_nav">
            <ul>
              <li v-for="el in learning">{{el.buttonName}}</li>
            </ul>
          </nav>
          <div class="learning_content" v-for="el in learning" v-if="el.visible">
            <h2>{{el.title}}</h2>
            <p>{{el.text}}</p>
            <ul v-if="el.tips">
              <li v-for="tip in el.tipsItem">{{tip}}</li>
            </ul>
            <img :src="el.img" alt="">
          </div>
        </section>



        <section id="courses">
          <!-- sezione popular - medio/alta - struttura card/carosello - animazioni = transition -->
          <div class="course_card" v-for="course in courses">
            <img :src="course.img" alt="">
            <div class="course_card_content">
              <div class="course_wrap">
                <h3>{{course.title}}</h3>
                <div class="course_badge" :class="`badge_${course.badge.color}`">{{course.badge.text}}</div>
              </div>
              <span>{{course.teacher}}</span>
              <p>{{course.text}}</p>
              <span>
                <i class="fas fa-user">{{course.partecipants}}</i>
                <i class="fas fa-tag">{{course.category}}</i>
              </span>
            </div>
          </div>
          <!-- CREARE PALLINI INDICE -->
        </section>



        <section id="price">
          <!-- sezione pricing - media - struttura griglia - animazioni = active -->
          <div class="index_column">
            <span v-for="el in pricing.index">{{el}}</span>
          </div>
          <div class="price_column" v-for="price in pricing.prices">
            <div class="price_wrap">
              <img :src="price.img" alt="">
              <h3>{{price.type}}</h3>
              <span>{{price.price}}</span>
            </div>
            <span>{{price.courses}}</span>
            <span>{{price.days}}</span>
            <i class="fas fa-check" v-for="service in price.services" v-if="service"></i>
            <i class="fas fa-times" v-else></i>
            <span><button>Get it now</button></span>
          </div>
        </section>



        <section id="partners">
          <!-- sezione partner - facile - animazioni? -->
          <img v-for="partner in partners" :src="partner" alt="">
        </section>


      </main>


      <footer>
        <!-- 4 colonne con mappa + pedice -->
        <div class="footer_column">
          <img :src="footer.contacts.img" alt="">
          <p>{{footer.contacts.text}}</p>
          <span>
            {{footer.contacts.phone}}
          </span>
          <span>
            {{footer.contacts.opening}}
          </span>
        </div>

        <div class="footer_column">
          <h3>{{footer.popularCourses.title}}</h3>
          <ul>
            <li v-for="course in footer.popularCourses.courses">
              <span>{{course.course}}</span>
              <span>{{course.teacher}}</span>
            </li>
          </ul>
        </div>

        <div class="footer_column">
          <h3>{{footer.supports.title}}</h3>
          <ul>
            <li v-for="link in footer.supports.links">{{link}}</li>
          </ul>
        </div>

        <div class="footer_column">
          <h3>{{footer.flexible.title}}</h3>
          <img :src="footer.flexible.img" alt="">
        </div>

      </footer>


    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
