*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  /* width: 1200px; */
  margin: auto;
  color: #303030;
  font-size: 18px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1200px; */
  color: white;
  padding: 30px 40px;
  z-index: 100;
}
header img {
  height: 30px;
}
#header_nav {
  display: flex;
}
#header_nav ul {
  display: flex;
  list-style: none;
}
#header_nav ul li {
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
}
#header_nav_icons i {
  font-size: 20px;
  padding: 10px;
}

/* MAIN */
main{
  padding: 0 40px;
}



/* JUMBOTRON */
#jumbotron {
  height: 680px;
  overflow: hidden;
  z-index: 1000;
}
#jumbotron img {

}
.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.slide_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 80%;
  text-align: center;
  color: white;
}
.slide_wrap h2 {
  font-size: 70px;
}
.slide_wrap p {
  padding: 30px;
}
.slide_wrap button {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #40c4ff;
  border: none;
  padding: 15px 30px;
}
.slider_dots {
  position: absolute;
  bottom: 20px;
}
.slider_dots i {
  color: white;
  padding: 5px;
}
.fa-circle {
  opacity: .5;
}


/* TOPICS */
#topics {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
.topic_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 185px;
  font-weight: 600;
  background-color: #f2f8fc;
  border: 1px solid #f2f2f2;
  z-index: -1;
}
.topic_card img {
  width: 60px;
  margin: 10px;
}
.topic_card span {
  margin: 10px;
}


/* TRUSTED */
#trusted {
  margin: 100px 0;
  color: #595959;
}
.trusted_box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.trusted_box h2 {
  font-size: 35px;
  max-width: 480px;
  color: #303030;
}
.trusted_box p {
  margin: 30px 0;
}
.trusted_box a {
  text-decoration: none;
  text-transform: uppercase;
  color: #40c4ff;
}
.trusted_wrap {
  position: absolute;
}
.trusted_box img{
  /* position: absolute; */

  /* bottom: 0; */
  align-self: center;
  width: 90%;
  z-index: -10;
}


/* EMPOWERING */
#empowering {
  color: #595959;

}
.empowering_box {
  display: flex;
}
.empowering_content {
  display: flex;
  flex-direction: column;
}
.empowering_content h2{
  font-size: 35px;
  max-width: 480px;
  margin: 30px 0;
  color: #303030;
}
.empowering_content p{
  max-width: 500px;
  margin: 30px 0;

}
.empowering_img{
}
.statistics_wrap {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #40c4ff;
  font-weight: 600;
}
.statistic span:first-child {
  font-size: 40px
}


/* FEEDBACK */
#feedback {
  position: relative;
  height: 600px;
  margin: 60px 0;
  overflow: hidden;
}
#feedback > img {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180%;
}
.feedback_slide {
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}
.feedback_img {
  height: 120px;
}
.feedback_slide p {
  margin: 30px 0;
}
.feedback_slide span {
  margin: 10px 0;
}
.feedback_name{
  font-weight: 600;
  font-size: 18px;
}
.feedback_job{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.slider_dots_feedback {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.slider_dots_feedback i {
  margin: 5px;
}

/* LEARNING */
#learning {
  margin: 60px 0;
  color: #847b7b;
}
#learning_wrap {
  height: 750px;
  display: flex;
  align-items: center;
}
#learning_nav {
  width: 50%;
}
#learning_nav ul {
  list-style: none;
}
#learning_nav ul li {
  border: 1px solid #e5e5e5;
  line-height: 80px;
  padding-left: 20px;
  font-weight: 600;

}
.learning_content {
  position: relative;
  padding: 0 60px;
}
.learning_content h2{
  font-size: 35px;
  margin: 30px 0;
  color: #303030;
}
.learning_content p{
  margin: 30px 0;
}
.learning_content ul{
  list-style: none;
  margin-bottom: 100px;
}
.learning_content ul li{
  line-height: 40px;
}
.learning_content ul li i{
  color: #40c4ff;
  margin: 10px;
}
.learning_content img {
  position: absolute;
  height: 200px;
  right: 20%;
  bottom: 0;
}


/* COURSES */
#courses {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
.course_card {
  width: 32%;
  border: 1px solid #f2f2f2;
}
.course_card img {
  width: 100%;
}
.course_card_content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.course_card_content p {
  color: #808080;
}
.teacher {
  color: #b9b9b9;
}
.course_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course_badge{
  color: white;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 12px;
  border-radius: 12px;
}
.badge_yellow {
  background-color: #ffd740;
}
.badge_blue {
  background-color: #40c4ff;
}
.course_card_content p {
  margin: 20px 0;
}
.card_footer {
  color: #b9b9b9;
}
.card_footer i {
  margin: 5px;
  text-transform: uppercase;
  font-size: 12px;
}


/* PRICE */
#price {
  display: flex;
  margin: 60px 0;
  color: #808080;
}
.index_column,
.price_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.price_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  background-color: #f7fdff;
  border: 1px solid #f2f2f2;
  color: #3e3e3e;
  border-top: 4px solid #d6f2ff;
}
.price_wrap h3 {
  padding: 15px;
}
.price_wrap span {
  font-weight: 600;
}
.price_column img {
  height: 100px;
  width: 100px;
}
.price_column i {
  width: 100%;
  text-align: center;
  line-height: 60px;
  border: 1px solid #f2f2f2;
}
.price_column .fa-check {
  color: #40c4ff;
}
.index_column > span,
.price_column > span {
  width: 100%;
  line-height: 60px;
  text-align: center;
  border: 1px solid #f2f2f2;
}
.index_column span {
  font-weight: 600;
  text-align: left;
  padding: 0 20px;
}

.index_column > span:first-child {
  display: flex;
  align-items: center;
  font-size: 30px;
  height: 250px;
  color: #3e3e3e;
  border-top: 4px solid #d6f2ff;
}
.price_button_span {
  background-color: #f7fdff;
}
.price_button {
  border: 3px solid #eaebeb;
  border-radius: 0;
  background-color: white;
  padding: 13px 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: #808080;

}


/* PARTNERS */
#partners {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}


/* FOOTER */
footer {
  height: 580px;
  color: white;
  background-color: #222222;
  padding: 80px 40px 60px;
  color: #cecece;
}
#footer_wrap{
  display: flex;
  margin-bottom: 60px;
}
.footer_column {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}
.footer_column p {
  max-width: 200px;
}
.footer_column ul {
  list-style: none;
}
.footer_column > * {
  margin-bottom: 30px;
}
.footer_column > * > * {
  margin-bottom: 30px;
}
.footer_column h3 {
  color: white;
}
.footer_column:first-child img {
  width: 140px;
}
.footer_column:last-child img {
  width: 250px;
}
#footer_bottom_box{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 13px;
}
#footer_bottom_box span:last-child {
  text-transform: uppercase;
}
#footer_bottom_box span:last-child a {
  text-decoration: none;
  color: #cecece;
}
/* ???????????????????????????????? */






.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
