*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  width: 90%;
  margin: auto;

}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: black;
  color: white;
}
header img {
  height: 40px;
}
#header_nav {
  display: flex;
}
#header_nav ul {
  display: flex;
  list-style: none;
}
#header_nav ul li {
  padding: 10px;
}
#header_nav_icons i {
  padding: 10px;
}


/* JUMBOTRON */
#jumbotron {

}
.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 80%;
  text-align: center;
  color: white;
}
.slide_wrap h2 {
  font-size: 70px;
}
.slide_wrap p {
  padding: 30px;
}
.slide_wrap button {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #40c4ff;
  border: none;
  padding: 15px 30px;
}
.slider_dots {
  position: absolute;
  bottom: 20px;
}
.slider_dots i {
  color: white;
  padding: 5px;
}
.slider_dots .fa-circle {
  opacity: .5;
}


/* TOPICS */
#topics {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
.topic_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 250px;
  background-color: #f2f8fc;
}
.topic_card img {
  width: 120px;
  margin: 30px;
}
.topic_card span {
  margin: 30px;
}


/* TRUSTED */
#trusted {
  margin: 60px 0;
}
.trusted_box {
  display: flex;
  flex-direction: column;
}
.trusted_box h2 {
  font-size: 35px;
  max-width: 480px;
  margin: 30px 0;
}
.trusted_box p {
  margin: 30px 0;
}
.trusted_box a {
  margin: 30px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #40c4ff;
}
.trusted_box img{
  align-self: center;
  width: 80%;
}


/* EMPOWERING */
#empowering {
  margin: 60px 0;
}
.empowering_box {
  display: flex;
}
.empowering_content {
  display: flex;
  flex-direction: column;
}
.empowering_content h2{
  font-size: 35px;
  max-width: 480px;
  margin: 30px 0;

}
.empowering_content p{
  max-width: 500px;
  margin: 30px 0;

}
.empowering_img{
  width: 55%;
}
.statistics_wrap {
  display: flex;
  justify-content: space-between;
}
.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #40c4ff;
  font-weight: 600;
}
.statistic span:first-child {
  font-size: 40px
}
/* ???????????????????????????????? */
